<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="introduction.html">Introduction</a></li>
      <li><a href="bser_project_team.html">BSeR Project Team</a></li>
      <li><a href="acknowledgements.html">Acknowledgements</a></li>
      <li><a href="scope_and_context.html">Scope and Context</a></li>
      <li><a href="uml_rendering_of_the_bser_ig.html">UML rendering of the BSeR IG</a></li>
      <li><a href="change_log.html">Change Log</a></li>    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Resource Profile Information<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="resource_profiles.html">Resource Profiles</a></li>
      <li><a href="referral_participant_resources.html">Referral Participant Resources</a></li>
      <li><a href="workflow_management_resources.html">Workflow Management Resources</a></li>
      <li><a href="referral_service_request_resources.html">Referral Service Request Resources</a></li>
      <li><a href="referral_service_request_feedback_resources.html">Referral Service Request Feedback Resources</a></li>
      <li><a href="service_request_and_referral_feedback_supporting_information.html">Service Request and Referral Feedback Supporting Information</a></li>
      <li><a href="bi-directional_service_e-referral_transactions.html">Bi-directional Service e-Referral Transactions</a></li>
      <li><a href="transport_options.html">Transport Options</a></li>
      <li><a href="adaptation_for_additional_referral_use_cases.html">Adaptation for Additional Referral Use Cases</a></li>    </ul>
  </li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
